
<h3>关于我</h3>
<ul>
    <li>我是{{site.author.name}}， 倒腾些有意思的技术！</li>
    <li>Email: {{site.author.email}}</li>
    <li>Github: {{site.author.github}}</li>
    <li>weibo: {{site.author.weibo}}</li>
</ul>

<h3>文章分类</h3>

<ul>
  {% assign categories_list = site.categories %}
  {% for category in categories_list %}
  <li>
  <a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ category[0] }}-ref">
    {{ category[0] | join: "/" | upcase}}
    <span>({{ category[1].size }})</span>
  </a>
  </li>
  {% endfor %}
</ul>

<h3 id="{{ category[0] }}-ref">标签</h3>

<ul class="tag_box inline">
  {% assign tags_list = site.tags %}  
  {% include JB/tags_list %}
</ul>



